Lists

In [4]:
notes = [12,24,36,48]

for c in range(4):
    print(notes[c])

12
24
36
48

In [5]:
student1 = 12
student2 = 24

studentNotes = [student1,student2]

for c in range(2):
    print(studentNotes[c])

12
24

In [6]:
# Lists can store different kinds of data

differents = [1,2,"a","b",True,4.5,[1,2,3]]

In [17]:
# Lists has also Indexing and Slicing

print(notes[1])

print(notes[-1])

print(notes[0:4])

print(notes[1:])

print(notes[:4])

24
48
[12, 24, 36, 48]
[24, 36, 48]
[12, 24, 36, 48]

In [24]:
# Lists are mutable data types

values = [1,4]

print(values[0])

values[0] += 1

print(values[0])

values[0:] = [8,9]

for c in range(2):
    print(values[c])

1
2
8
9

LEN

In [41]:
# len() can give the length of elements of lists

threeLen = [1,2,3]

len(threeLen)

3

APPEND

In [42]:
# append() adds element at the end of the list

threeLen.append(4)

for c in range(4):
    print(threeLen[c])

1
2
3
4

EXTEND

In [43]:
# extend() adds elements at the end of the list

threeLen.extend([5,6])

for c in range(6):
    print(threeLen[c])

1
2
3
4
5
6

INSERT

In [44]:
# insert() is using if the desire is to add an element at spesific index 

threeLen.insert(4,100)

for c in range(7):
    print(threeLen[c])

1
2
3
4
100
5
6

REMOVE

In [46]:
# remove() is using to delete an element from list

threeLen.remove(100)

for c in range(6):
    print(threeLen[c])

1
2
3
4
5
6

POP

In [47]:
# pop() deletes the element but after deleting it can also returning that element's value

lenExample = [1,2,3]

lenExample.pop(1)

for c in range(2):
    print(lenExample[c])

1
3

COUNT

In [50]:
# count() shows that how many times an element can be seen in the list

lenExample2 = [1,1,1]

print(lenExample2.count(1))

print(lenExample2.count(2))

3
0

COPY

In [51]:
# copy() copies the list

lenExample3 = [1,2,3]

lenExample4 = lenExample3.copy()

for c in range(3):
    print(lenExample4[c])

1
2
3

CONCENTENATION

In [52]:
# + operator makes concentenation 

lenExample5 = [1,2,3]

lenExample6 = [4,5,6]

lenExample7 =[]

lenExample7 = lenExample5 + lenExample6

for c in range(6):
    print(lenExample7[c])

1
2
3
4
5
6

INDEX

In [54]:
# index(x) shows x which index it is at seen

lenExample8 = [1,2,3,4,5]

print(lenExample8.index(5))

4

REVERSE

In [57]:
# reverse() reverses the list

lenExample8.reverse()

for c in range (5):
    print(lenExample8[c])

5
4
3
2
1

SORTED

In [60]:
# sorted() makes the list ascending order whether it is alphabetically or numerical list but it doesnt update original list

lenExample9 = ["b","c","a"]

sorted(lenExample9)

for c in range(3):
    print(lenExample9[c])

sorted(lenExample9)

b
c
a

['a', 'b', 'c']

SORT

In [66]:
# sort() instead of sorted() this makes inplacing in list

lenExample10 = ["b","c","a"]

lenExample10.sort()

for c in range(3):
    print(lenExample10[c])

a
b
c

In [75]:
lenExample11 = ["b","c","a","3","2","1","0.5"]

lenExample11.sort()

for c in range(7):
    print(lenExample11[c])

0.5
1
2
3
a
b
c

TUPLE

In [3]:
# Tuple is an immutable version of lists

tupleExample = (1,2,3,"a")

for c in range (3):
    print(tupleExample[c])


#This part will give error

#tupleExample[0] = 4

#for c in range (3):
#    print(tupleExample[c])

1
2
3

TRANSFER VALUE

In [4]:
x = 2
y = 3

In [5]:
temp = x
x = y
y = temp

In [7]:
print(x)
print(y)

3
2

In [9]:
# This tuple method do the same thing
(x,y) = (y,x)

print(x)
print(y)

3
2

In [10]:
# This method also do the same thing
x , y = y , x

print(x)
print(y)

2
3

In [11]:
# This method also do the same thing
[x,y] = [y,x]

print(x)
print(y)

3
2

ELEMENT CONTROL IN TUPLE AND LIST

In [14]:
listExample = [1,2,3,4,5]

print(2 in listExample)

print(40 in listExample)

if(2 in listExample):
    print("There is 2 in this list")

True
False
There is 2 in this list

In [15]:
tupleExample = (1,2,3,4,5)

print(2 in tupleExample)

print(40 in tupleExample)

if(2 in tupleExample):
    print("There is 2 in this tuple")

True
False
There is 2 in this tuple

DICTIONARIES

In [17]:
# To store multiple values in multiple keys, dictionares is using

# The keys are immutable, whereas the values can be either mutable or immutable.

studentNotes2 = {"Alperen" : 90, "Alissa" : 90, "Kemal" : 100}

print(studentNotes2["Alperen"])

print(studentNotes2["Alissa"])

print(studentNotes2["Kemal"])

90

In [23]:
studentGrades = {"Alperen" : {"grade" : 90,"studentNo" : 123456},"Alissa" : {"grade" : 90,"studentNo" : 222222}, "Kemal" : {"grade" : 100,"studentNo" : 100001}}

print(studentGrades["Alperen"])

print(studentGrades["Alperen"]["grade"])

print(studentGrades["Alperen"]["studentNo"])

{'grade': 90, 'studentNo': 123456}
90
123456

In [26]:
# Values can not be find by index numbers because given index is string

# This will give error

# print(studentGrades[0])

In [31]:
# Values are mutable

print(studentGrades["Alperen"]["grade"])

studentGrades["Alperen"]["grade"] = 100

print(studentGrades["Alperen"]["grade"])

90
100

In [33]:
# len() gives the key numbers in dictionaries

print(studentGrades)

len(studentGrades)

{'Alperen': {'grade': 100, 'studentNo': 123456}, 'Alissa': {'grade': 90, 'studentNo': 222222}, 'Kemal': {'grade': 100, 'studentNo': 100001}}

3

In [40]:
# Adding new element and value of element

studentGrades2 = {"Alperen" : 90,"Alissa" : 80,"Kemal" : 100}

print(studentGrades2)

studentGrades2["Carlos"] = 100 

print(studentGrades2)

{'Alperen': 90, 'Alissa': 80, 'Kemal': 100}
{'Alperen': 90, 'Alissa': 80, 'Kemal': 100, 'Carlos': 100}

In [41]:
# del is Deleting a key 

print(studentGrades2)

del studentGrades2["Carlos"]

print(studentGrades2)

{'Alperen': 90, 'Alissa': 80, 'Kemal': 100, 'Carlos': 100}
{'Alperen': 90, 'Alissa': 80, 'Kemal': 100}

In [48]:
# Query whether a value exists among the keys

# In dictionaries it is even faster than lists and tuples

print(studentGrades2)

print("Mehmet" in studentGrades2)

print("Alperen" in studentGrades2)

{'Alperen': 90, 'Alissa': 80, 'Kemal': 100}
False
True

SET

In [2]:
# A set is an unordered collection of unique elements. Sets are defined using curly braces {} or the set() function. They support operations like union, intersection, and difference.

s = {1,2,3,4,5}

print(s)

{1, 2, 3, 4, 5}

In [ ]:
# Set is mutable and can not be indexed.

# It is fast to control an element in SET compare to others like DICTIONARIES

In [1]:
a = {}

type(a)

dict

In [2]:
s = set()

In [3]:
s

set()

In [4]:
l = [1,2,3,4]

In [5]:
s = set(l)

In [6]:
print(s)

{1, 2, 3, 4}

In [7]:
l = [1,2,3,4,5,6,7,7,7,7]

In [9]:
#There can not be same value in SET

s = set(l)

print(s)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
#Sets can not be indexed

DIFFERENCE

In [16]:
s1 = set([0,1,2,3,4,5])

s2 = set([1,2,3,4,5,6,7,8])

#Which element of s1 is different from s2
print(s1.difference(s2))

print(s1-s2)

#Which element of s2 is different from s1
print(s2.difference(s1))

print(s2-s1)

{0}
{0}
{8, 6, 7}
{8, 6, 7}

SYMMETRIC DIFFERENCE

In [17]:
print(s1)

print(s2)

{0, 1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
#(s1 \ s2) U (s2 \ s1) -> A U B - (A n B)

print(s1.symmetric_difference(s2))

#Same as s2 to s1

{0, 6, 7, 8}

INTERSECTION

In [27]:
print(s1.intersection(s2))

#Same output as the s2 to s1 intersection command output

print(s1 & s2)

print(s1 - (s1-s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [31]:
#This make intersection and update the s1 value to it

s1.intersection_update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

UNION

In [33]:
print(s1.union(s2))

print(s1)

#So that union function only makes seem it is unioned but really not

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}

DISJOINT SETS

In [34]:
#This control whether s1 n s2 equals nothing or not

print(s1.isdisjoint(s2))

False

SUBSET

In [35]:
#SUBSET checks if other group is subset of the second one

print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
print(s1.issubset(s2))

True

SUPERSET

In [39]:
#SUPERSET checks if other group is superset of the second one

print(s1)
print(s2)

print(s1.issuperset(s2))

print(s2.issuperset(s1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
False
True

SPLIT

In [5]:
s = "Hello there!"

In [6]:
print(s.split(" "))

['Hello', 'there!']

In [7]:
s = "General,Kenobi?"

print(s.split(","))

['General', 'Kenobi?']

JOIN

In [10]:
l = ['lemon','orange','apple']

s = ",".join(l)

print(s)

s = "-".join(l)

print(s)

lemon,orange,apple
lemon-orange-apple